@keyframes bbottom{
    10%{border-bottom: 10%;}
    50%{border-bottom: 50%;}
}

body{
    margin: 0;
    z-index: 1;
    height: 100vh;
    background-color: rgb(61, 61, 61);
    flex-direction: column;
}
header{
    background: linear-gradient(rgb(0, 0, 0), rgb(61, 61, 61));
    width: 100%;
    height: 10vh;
    padding: 2vh 0;
    overflow: hidden;
    position: fixed;
    z-index: 2;
}

#intro{
    width: 30%;
    height: auto;
    margin-left: 150px;
}
#title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#picture{
    margin-left: 10%;
}
#personal_image{
    border-radius: 50%;
    overflow: hidden;
    width: 50vh;
    height: auto;
}
.tlitle{
    text-align: center;
}
main{
    width: 100%;
    margin-top: 11vh;
    display: flex;
    height: auto;
    overflow: auto;
    flex-direction: column;
    overflow: hidden;
}
.skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    max-height: 5vh;
    justify-content: space-between;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 20%;
    margin-right: 20%;
}
.skill{
    background: transparent;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    align-items: center;
    border-radius: 5px; 
}
.skill:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: transform 0.4s ease;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-container p{
    font-size: 15px;
    margin: 0;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
#level1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(11, 255, 11);
    margin-right: 2px;
}
#level2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(11, 255, 11);
    margin-right: 2px;
}
#level3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(11, 255, 11);
    margin-right: 2px;
}


h2, h3, p {
    color: white;
}
.experience-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.experience-circle {
    width: 100px;
    height: 100px;
    background-color: #0310c4;
    color: white;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin-bottom: 50px;
}

.experience-circle:hover {
    transform: scale(1.1);
}

.experience-panel {
    width: 70%;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: none;
    color: white;
}

li, ul, a{
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.in-image{
    width: 100px;
    height: auto;
    cursor: pointer;
}
.full-picture{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img-inside{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.close{
    padding-left: 20px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    padding-top: 100px;
    z-index: 2;
}
